html {
    background-color: hsl(224, 18%, 10%);
    font-family: sans-serif;
  }
  
  body {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background: hsl(224, 10%, 10%);
    color: hsl(224, 20%, 94%);
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    align-self: center;
    text-align: center;
  }
  .nav {
    display: none;
    justify-content: center;
    width: 100%;
  }
  a {
    text-decoration: none;
    padding: 2px 5px ;
    color: #748;
  }
  a:hover {
    filter: brightness(1.5);
  }

  li {
    list-style: none;
  }
  h4 {
    color: #4fe;
  }

  /* estilos de la barra de navegación*/
.expanded {
  display: flex;
}
.hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #7e2080;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.hamburger.closer .line {
  position: absolute;
  top: 40%;
  right: 0;
  background-color: #4fe;
  transform: rotate(45deg);
}
.hamburger.closer .line:first-child {
  transform: rotate(-45deg);
}

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 2rem;
  align-items: center;

  p {
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    padding-top: 5px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
  .nav {
    display: flex;
    translate: 0px;
    opacity: 1;
  }

  footer {
    flex-direction: row;
  }
}