---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">Sobre mi</a>
    <a href="/blog">Mi blog</a>
    <h1>Acerca de mi</h1>
    <h2>... y mi sitio Astro!</h2>
    <p>
      Estoy siguiendo el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web.
    </p>
    <p>
      Este sitio se irá actualizando a medida que complete el tutorial, asi que
      no dejes de visitarlo para ver como va mi viaje!! 😸.
    </p>
  </body>
</html>
