---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
const allPosts = await Astro.glob('./posts/*.md')
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Bienvenidos a mi {pageTitle} con Astro!!</h1>
  <p>Aquí publicaré todo mi camino de aprendizaje en Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPosts url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
