---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Página de inicio";

---

<BaseLayout pageTitle="Pagina de inicio">
  <h2> Mi impresionante subtitulo del blog</h2>
</BaseLayout>
