---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>¡Aquí encontraras mis redes sociales!</p>
  <ul>
    <Social platform="instagram" username="marcelo._.lencina" />
    <Social platform="github" username="MLMarce" />
    <Social platform="linkedin" username="in/marcelo-lencina-bb7b2928a" />
  </ul>
</footer>
